.Rproj.user
.Rhistory
.RData
rsconnect
data-raw/*.cpg
data-raw/*.dbf
data-raw/*.prj
data-raw/*.sbn
data-raw/*.sbx
data-raw/*.shp
data-raw/*.shp.xml
data-raw/*.shx
.RDataTmp
*.dbf
*.prj
*.shp
*.shx
*.lock
inst/rmd/metadata.pdf
EJmap.Rproj
